@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00a841;

  &:hover {
    background: #aaaaaa;
  }

  &:active {
    background: #6e6e6e;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Oswald Variable', sans-serif;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
