@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
